# 企业微信智能机器人
WECHAT_BOT_ID='<BOT_ID>'
WECHAT_BOT_SECRET='<BOT_SECRET>'

# 企业自建应用
WECOM_CORP_ID='<CORP_ID>'
WECOM_APP_SECRET='<APP_SECRET>'

# 测试/日志开关
WECOM_REPLY_IDENTITY='false'
WECOM_DEBUG_IDENTITY='false'
WECOM_LOG_PII='false'
